strict-ssl = false

registry = https://nexus.tcsbank.ru/repository/npm-all/
strict-ssl = false
ca = ''

sass_binary_site=https://nexus.tcsbank.ru/repository/node-sass-proxy

proxy=http://proxy.tcsbank.ru:8080
https-proxy=http://proxy.tcsbank.ru:8080
noproxy=.tcsbank.ru

update-notifier=false

progress=true
spin=true
color=true
loglevel=warn

legacy-peer-deps = true
