<tui-root>
  <button tuiButton (click)="onPay()">Оплатить СБП</button>

  <ng-template #savedBankTemplate [(tuiSheetDialog)]="isSavedOpened">
    <div class="saved">
      <button tuiButton (click)="onPayApp()">Оплатить в приложении</button>

      <a tuiLink class="bank-link" (click)="onShowBanks()"
        >Показать все банки</a
      >
    </div>
  </ng-template>

  <ng-template [(tuiSheetDialog)]="isBanksOpened" #banksTemplate>
    <div class="banks" #banksDiv>
      <tui-input
        [tuiTextfieldIconLeft]="'tuiIconSearch'"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        (click)="onInputClick()"
      >
        Найдите банк
      </tui-input>
    </div>
  </ng-template>
</tui-root>
